version: '3'

services:
  app:
    platform: 'linux/amd64'
    image: 'frm-boilerplate'
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_ENV: 'docker-dev'
    environment:
      APP_ENV: 'docker-dev'
    command: 'npm run serve'
    depends_on:
      - db
    ports:
      - '3000:3000'
      - '8080:8080'
    volumes:
      - './:/app:delegated'
      - '/app/node_modules/'
    working_dir: /root/app

  db:
    image: mongo:5.0
    command:
      - '--logpath'
      - '/var/log/mongod.log'
    ports:
      - '27017:27017'
    volumes:
      - './data/mongodb:/data/db'
      - './logs:/var/log'
